
django-silk
django-versatileimagefield
djangorestframework
djangorestframework-simplejwt
drf-yasg
gprof2dot
inflection
install
Markdown
packaging
phonenumbers
pillow
pycodestyle
PyJWT
python-magic
pytz
PyYAML
sqlparse
tomli
typing_extensions
uritemplate
